<div class="edit-background">
<div class="overlay"></div>

<div class="container">
	<div class="row">
		<div class=" col-md-12 about">
			<h1><p class="about-name">AdventureCO</p> is a one stop shop to find your perfect Colorado adventure, no matter what your interests are. Click on a <a href ="/">category</a> you like and get access to numerous ideas for an adventure. Have an idea of your own? Add it to your favorite category!</h1>
		</div>
	</div>
</div>
