body {
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow-x: hidden; 
    background-color: #F4F5F7;
    padding-bottom: 40px;
    padding-top: 50px;
}

.full-width-container {
	padding: 0;
}

.menu-item {
	font-family: 'Raleway', bold;
	color: #3f3f3f;
	font-size: 14px;
}

.hero-img {
	background-image: url("http://i.imgur.com/s1vvYio.jpg");
	width: 100%;
	height: 400px;
	background-size: cover;
}

.navbar {
	height: 50px;
	background-color: white;
}

#navbar-text {
	color: #3f3f3f;
	font-family: 'Lobster', bold;
	font-size: 28px;
}

#bottom {
	height: 40px;
	background-color: #3f3f3f;
	opacity: .8;
	position: absolute;
	bottom: 0px;
	color: white;
	text-align: center;
	padding: 5px;
	font-size: 20px;
	word-spacing: 75px;
	width: 100%;
	font-family: 'Raleway';
	font-size: 20px;
}

.category-background {
	background-image: url("http://i.imgur.com/s1vvYio.jpg");
	background-attachment: fixed, scroll;
  	background-repeat: no-repeat, repeat-y;
  	background-size: cover;
  	position: relative;
}

.edit-background {
	background-image: url("http://i.imgur.com/s1vvYio.jpg");
  	background-repeat: no-repeat;
  	background-size: cover;
  	position: relative;
  	height: 90vh;
}

.about {
	text-align: center;
	color: white;
	font-family: 'Raleway';
	font-size: 30px;
	margin-top: 100px;
}

.about-name {
	color: white;
	font-family: 'Lobster';
	font-size: 50px;
}

.overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #000013;
	opacity: .6;
}

.category-background-show {
	background-image: url("http://i.imgur.com/s1vvYio.jpg");
	height: 100%;
	position: fixed;
	width: 100%
}

.category-box-show {
	margin-top: 100px;
}

.individual-img {
    float: left;
    border-radius: 20px;
	height: 200px;
	width: 200px;
	margin: 15px 15px 15px 15px;	
}

.Sporting-name {
	color: #66CDAA;
	text-align: center;
	font-family: 'Lobster';
}

.Sporting-border {
	border: 5px solid #66CDAA;;
}

.Sporting-btn {
	background-color: #66CDAA;
	color: white;
}

.Social-name {
	color: #BA55D3;
	text-align: center;
	font-family: 'Lobster';
}

.Social-border {
	border: 5px solid #BA55D3;
}

.Social-btn {
	background-color: #BA55D3;
	color: white;
}

.Active-name {
	color: #6495ED;
	text-align: center;
	font-family: 'Lobster';
}

.Active-border {
	border: 5px solid #6495ED;
}

.Active-btn {
	background-color: #6495ED;
	color: white;
}

.Music-name {
	color: #FF69B4;
	text-align: center;
	font-family: 'Lobster';
}

.Music-border {
	border: 5px solid #FF69B4;
}

.Music-btn {
	background-color: #FF69B4;
	color: white;
}

.Family-name {
	color: 	#F4A460;
	text-align: center;
	font-family: 'Lobster';
}

.Family-border {
	border: 5px solid #F4A460;
}

.Family-btn {
	background-color: #F4A460;
	color: white;
}

.Adrenaline-name {
	color: #90EE90;
	text-align: center;
	font-family: 'Lobster';
}

.Adrenaline-border {
	border: 5px solid #90EE90;
}

.Adrenaline-btn {
	background-color: #90EE90;
	color: white; 
}

.all-name {
	color: #B19CD9;
	text-align: center;
	font-family: 'Lobster';
}

.all-border {
	border: 5px solid #B19CD9;
}

.all-btn {
	background-color: #B19CD9;
	color: white; 
}

.show-border {
	border: 5px solid #B19CD9;
}

.show-btn {
	background-color: #B19CD9;
	color: white; 
}

.adventure-details {
	padding-top: 10px;
	position: relative;
	font-family: 'Raleway';
	font-weight: 900;
}

.adventure-titles {
	font-family: 'Lobster';
}

.category-box {
	background-color: #FFFAFA;
	opacity: .9;
	border-radius: 20px;
	margin-bottom: 20px;
	padding: 5px;
}

.form-div {
	text-align: center;
	padding: 5px;
	margin-top: 20px;
	border-radius: 20px;
	color: grey;
}

.new-form-div {
	text-align: center;
}

.modal-title {
	font-family: 'Lobster';
	font-size: 25px;
	text-align: center;
}

.input-field {
	background-color: #FAFAFA;	
	opacity: .8;
	color: #36454f;
	border: 1px solid #29ccc7;
	font-family: 'Raleway';
}

.form-text {
	color: white;
	font-family: 'Raleway';
}

.submit-field {
	background-color: #29ccc7;
	color: white;
	font-family: 'Lobster';
	font-size: 15px;
	border: 1px solid white;
}

.about a {
	color: #29ccc7;
}

.selection {
	color: white;
}

.box {
	height: 300px;
	box-shadow: 5px 5px 1px #888888;
	margin: 10px;
}

.box:hover {
	background-color: #DCDCDC;
}

#box1 {
	border-bottom: 7px solid #66CDAA;
}

#box2 {
	border-bottom: 7px solid #BA55D3;
}

#box3 {
	border-bottom: 7px solid #6495ED;
}

#box4 {
	border-bottom: 7px solid #FF69B4;
}

#box5 {
	border-bottom: 7px solid #F4A460;
}

#box6 {
	border-bottom: 7px solid #90EE90;
}

.btn {
	margin: 12px;
	font-family: 'Raleway';
}

.category1 {
	padding: 35px 0px 5px 0px;
	margin-right: 45px;
}

.category2 {
	padding: 5px 0px 100px 0px;
	margin-right: 45px;
}

.image1 {
	background-image: url("http://d1ya1fm0bicxg1.cloudfront.net/2015/06/promoted-media-optimized_5570c58a5cdff.jpg");
	height: 150px;
	background-size: cover
}

.image2 {
	background-image: url("http://ashwoodrecovery.com/blog/wp-content/uploads/2015/05/AW-when-social-drinking-becomes-a-problem.jpg");
	height: 150px;
	background-size: cover
}

.image3 {
	background-image: url("https://incurablystircrazy.files.wordpress.com/2012/04/runner-at-sunset.jpg");
	height: 150px;
	background-size: cover
}

.image4 {
	background-image: url("http://runthetrap.com/wp-content/uploads/2015/01/redrockscrazy.jpeg");
	height: 150px;
	background-size: cover
}

.image5 {
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsZfPTy4kSIj8ZRjn63vUOikegkghFSH50-HZB24Uw7w9qr24EpA");
	height: 150px;
	background-size: cover
}

.image6 {
	background-image: url("http://coloradoairtours.com/images/skydive-colorado2.jpg");
	height: 150px;
	background-size: cover
}

.category-title {
	font-size: 30px;
	font-weight: bold;
	font-family: impact;
	text-align: center;
	font-family: 'Lobster', bold;
}

.category-description {
	font-size: 14px;
	text-align: center;
	color: black;
	font-family:'Raleway';
	font-weight: bold;
}

#text1 {
	color: #66CDAA;
}

#text2 {
	color: #BA55D3;
}

#text3 {
	color: #6495ED;
}

#text4 {
	color: #FF69B4;
}

#text5 {
	color: 	#F4A460;
}

#text6 {
	color: #90EE90;
}

footer {
    position: fixed;
    height: 40px;
    bottom: 0;
    width: 100%;
    background-color: #3f3f3f;
    padding-top: 8px;
}

.footer-text {
	color: white;
	align-items: center;
	font-family: 'Raleway';
	margin-left: 30px;
}



